code/*.pyc
code/*_plots
code/tmp*
code/midi
code/rnnslu
data/atis.*
data/mnist.pkl.gz
data/mnist_py3k.pkl.gz
data/Nottingham.zip
data/Nottingham
data/midi.zip
data/text8
html
*.pyc
*~
*.swp
**/.DS_Store
.idea
data/*.pkl
